{
  "printWidth": 110,
  "singleQuote": false,
  "semi": true,
  "useTabs": false,
  "tabWidth": 2,
  "trailingComma": "es5",
  "overrides": [
    {
      "// comment": "wrangler doesn't seem to accept wrangler.jsonc with trailing commas",
      "files": ["**/wrangler.jsonc"],
      "options": {
        "trailingComma": "none"
      }
    }
  ]
}
