# dependencies
/node_modules

# next.js
/.next/
/out/

# open-next
/.open-next/
/.wrangler/
.dev.vars

# typescript
*.tsbuildinfo
next-env.d.ts

# playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
