name: Playwright Tests

on:
  push:
    branches: [main]
  pull_request:

jobs:
  test:
    timeout-minutes: 30
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Install Dependencies
        uses: ./.github/actions/install-dependencies

      - name: Install Playwright
        uses: ./.github/actions/setup-playwright

      - name: Build workers (webpack)
        run: pnpm -r build:worker

      - name: Run playwright tests (webpack)
        run: pnpm e2e

      - name: Build workers (turbopack)
        run: pnpm -r build:worker-turbopack

      - name: Run playwright tests (turbopack)
        run: pnpm e2e-turbopack

      - name: Run playwright dev tests
        run: pnpm e2e:dev

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: playwright-report
          path: ./**/playwright-report
          retention-days: 1
